---
title: Current Groups
description: "Small randomized group calls to help GitLab team members connect more personally"
---

%h1 Mixer Call Groups

- groups = @items.find_all('/groups/*')
- groups.each.with_index do |group_source, i|
  - group = group_source.raw_content

  %h2 Group #{i}
  %h4
    Zoom:
    %a{href: group.link}= group.link

  %ul
    - group.members.each do |member|
      %li= member.name
