!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/

    - title = "GitLab Mixer Calls - #{@item[:title]}"
    %title= title

    %meta{property: "og:title", content: title}/
    %meta{property: "og:description", content: "#{@item[:description]}"}/
    %meta{property: "og:image", content: "https://about.gitlab.com/images/press/gitlab_greece_summit.jpg"}/

    / you don't need to keep this, but it's cool for stats!
    %meta{:content => "Nanoc #{Nanoc::VERSION}", :name => "generator"}/

    %link{href: "stylesheet.css", rel: "stylesheet"}/
  %body
    #main
      = yield
